{% extends 'transporte.html' %}

{% block contenedor_forms %}
<h1>Registrar Recepcion Transporte</h1>

<div  class="form-principal form-grid-2">
    <div class="tabla-contenedor sin-sombra-padding tabla-corta" style="border-radius: 0">
        <h2>Seleccionar transporte</h2>
        <table id="tb_transportes" class="tabla-corta">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha_salida</th>
                    <th>Observacion</th>
                    <th>Placa</th>
                    <th>chofer</th>
                    <th>Operacion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="tabla-contenedor sin-sombra-padding tabla-corta" style="border-radius: 0">
        <h2>Detalle transporte</h2>
        <table id="tb_detalle_transporte" class="tabla-corta">
            <thead>
                <tr>
                    <th>Deposito</th>
                    <th>Material</th>
                    <th>Cantidad_material</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <form id="form_recepcion_transporte" class="form-principal form-grid-2 grid-colum-2" style="gap: 0;">
        <div>
            <label for="observacion">Id_transporte:</label>
            <input type="number" name="id_transporte" id="id_transporte" required readonly>
        </div>
        <div>
        <label for="observacion">Observacion:</label>
        <input type="text" name="observacion" id="observacion">
        </div>

        <div class="grid-colum-2">
            <label for="estado_transporte">Estado transporte:</label>
            <select name="estado_transporte" id="estado_transporte" required>
                <option value="E">Entregado</option>
                <option value="C">Cancelado</option>
              </select>
        </div>
        <div class="form-contenedor-btns grid-colum-2">
            <a href="/transporte/reg_recepcion_transporte" class="btn-form-close">Cancelar</a>
            <button type="submit" class="btn-form">Confirmar</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const datos_transportes = {{ tb_transportes | tojson }} 
        console.log(datos_transportes);
        cargar_tabla_transporte(datos_transportes);
    });

    function cargar_tabla_transporte(resultado) {
        const tabla = document.querySelector('#tb_transportes tbody');
        if (resultado[0] == false) {
            // Cuando no hay datos
            console.log(resultado[1]);
        } else {
            resultado = resultado[1];
            tabla.innerHTML = '';  // Vaciar la tabla
            resultado.forEach(data => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${data.id}</td>
                    <td>${data.fecha_salida}</td>
                    <td>${data.observacion}</td>
                    <td>${data.placa}</td>
                    <td>${data.chofer}</td>
                    <td>
                        <button type="button" class="btn-editar" 
                        onclick="seleccion_transporte(${JSON.stringify(data).replace(/"/g, '&quot;')})">seleccionar</button>
                    </td>`;
                tabla.appendChild(tr);
            });
        }
    }

    function seleccion_transporte(datos){
        document.getElementById('id_transporte').value = datos.id;
        id_transporte =  datos.id;

        const url = `/transporte/obtener_detalles_transporte/${id_transporte}`;
        fetch(url)
        .then(response => response.json())
        .then(resultado => {
            if (resultado[0] == false) {
                // Cuando no hay datos
                console.log(resultado[1]);
            } else {
                const tabla = document.querySelector('#tb_detalle_transporte tbody');
                resultado = resultado[1];
                tabla.innerHTML = '';  // Vaciar la tabla
                resultado.forEach(data => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${data.deposito}</td>
                        <td>${data.material}</td>
                        <td>${data.cantidad_material}</td>
                        `;
                    tabla.appendChild(tr);
                });
            }
        });

    }

    document.getElementById('form_recepcion_transporte').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = {
            id_transporte: document.getElementById('id_transporte').value,
            observacion: document.getElementById('observacion').value,
            estado_transporte: document.getElementById('estado_transporte').value
        };
    
        fetch('/transporte/reg_recepcion_transporte', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(respuesta => {
            if (respuesta.exito) {
                crearMensaje(respuesta.titulo, respuesta.mensaje, respuesta.redireccion);
            } else {
                crearMensaje(respuesta.titulo, respuesta.mensaje);
            }
        });
    });
</script>

{% endblock %}