{% extends 'reporte.html' %}

{% block contenedor_forms %}

<h1>Reporte de Stock</h1>
<div class="form-principal form-grid-2-auto">
    <form id="form_reporte_stock" class="form-principal">

        <label for="p_deposito">Deposito:</label>
        <input type="text" id="p_deposito" name="p_deposito">

        <label for="p_tipo_material">Tipo material:</label>
        <input type="text" id="p_tipo_material" name="p_tipo_material">

        <div class="form-contenedor-btns">
            <button type="submit" class="btn-form">Generar Reporte</button>
        </div>
    </form>

    <div class="tabla-contenedor sin-sombra-padding tabla-mediana" style="border-radius: 0;">
        <table id="tb_reporte" class="tabla-corta">
            <thead>
                <tr>
                    <th>deposito</th>
                    <th>tipo_material</th>
                    <th>material</th>
                    <th>descripcion</th>
                    <th>cantidad_material</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('form_reporte_stock').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = {
            p_deposito: document.getElementById('p_deposito').value,
            p_tipo_material: document.getElementById('p_tipo_material').value
        };

        fetch('/reporte/reporte_stock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(respuesta => {
            if (respuesta.exito) {
                const tabla = document.querySelector('#tb_reporte tbody');
                resultado = respuesta.contenido;
                tabla.innerHTML = '';  // Vaciar la tabla
                resultado.forEach(data => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${data.deposito}</td>
                        <td>${data.tipo_material}</td>
                        <td>${data.material}</td>
                        <td>${data.descripcion}</td>
                        <td>${data.cantidad_material}</td>
                        `;
                    tabla.appendChild(tr);
                });
            } else {
                crearMensaje(respuesta.titulo, respuesta.mensaje);
            }
        })
    });
</script>
{% endblock %}